body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


/* CSS Document */

/* CSS DocumentProject: Industry Codes Website
----------------------------------------------------------------------------------------------------------*/

/*------------------Layout,Table of Contents-----------------------------------------------------------------
1. BASIC STYLING FOR COMMON HTML ELEMENTS
2. TYPOS
3. COMMON CSS CLASSES
4. SKELETON
5. HEADER SECTION
6. BODY SECTION
7. FOOTER SECTION
8. MEDIA QUERIES
-----------------------------------------------------------------------------------------------------------*/
@import './scss/main.scss';
