/*Inner Banner*/
.inner-banner {
  background-color: var(--black-500);
  min-height: 300px;
  h2 {
    color: var(--white);
    text-align: center;
    font-size: 2.5rem;
  }
  .inner-banner-wrap {
    min-height: 300px;
  }
  a {
    color: var(--red);
  }
  .lnk-back-icon {
    font-size: 1.8rem;
  }
  &.bg-yellow {
    h2,
    a {
      color: var(--black-light);
    }
  }
}
.about-list {
  .card {
    h5 {
      font-size: 1.8rem;
      color: var(--black-500);
    }
    p {
      color: var(--grey);
    }
  }
}
.about-img-col {
  h4 {
    font-size: 3rem;
  }
  p {
    margin-bottom: 2rem;
  }
}
.bg-grey {
  background-color: var(--grey-thin);
}
.code-conversion-block {
  p {
    color: var(--grey);
  }
}
.block-title {
  font-size: 1.875rem;
}
.inner-su-title {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--white);
}
.txt-red {
  color: var(--red);
}
.txt-black-light-color {
  color: var(--black-light);
}
.code-mapping-block {
  h6 {
    font-size: 1.8rem;
    font-weight: 600;
  }
}
/*Page not found*/
.page-not-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}
.page-not-found {
  h2 {
    font-size: 3.5rem;
  }
}
.btn {
  text-transform: none;
  line-height: normal;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  background-color: var(--red);
  border-color: var(--red);
  border-radius: 3px;
  min-width: 160px;
  min-height: 48px;
}
.btn:hover,
.btn:focus {
  background-color: var(--red);
  border-color: var(--red);
}
h1,
h2,
h3,
h4 {
  color: var(--black-light);
  font-weight: 700;
}
.form-control,
.form-select {
  height: 100%;
  min-height: 48px;
  font-size: 1.6rem;
  padding-left: 2rem;
}
.btn-filter {
  background: var(--white);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 0;
}
.search-result-list {
  li {
    div {
      height: 300px;
      border: 1px solid #cdcdcd;
      h5 {
        color: #252525;
        font-size: 1.6rem;
        margin-bottom: 10px;
      }
      p {
        line-height: normal;
      }
      &:hover {
        background-color: var(--red);
        h5,
        p {
          color: #fff;
        }
      }
    }
  }
}
.color-bar {
  display: block;
  color: #fff;
  border-radius: 3px;
  width: 100%;
  @media screen and (min-width: 992px) {
    width: 80%;
  }
}
.green-bar {
  background-color: $green;
}
.yellow-bar {
  background-color: $yellow;
}
.inner-pages {
  .header {
    background-color: #fff !important;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0,0.2), 0px 4px 5px 0px rgba(0, 0, 0,0.2), 0px 1px 10px 0px rgba(0, 0, 0,0.2) !important;
    .logo,
    .MuiIconButton-root {
      color: var(--black-light) !important;
    }
  }
}
.contact-block {
  input[type="text"] {
    // font-size: 1.4rem;
  }
}
.connector-one {
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 0;
    border-bottom: 1px dashed var(--grey);
  }
  li {
    list-style-type: none;
    position: relative;
    cursor: pointer;
    &.circle {
      &::after {
        content: "";
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #81ecec;
        border: 5px solid #f8f8f8;
        transition: background-color 0.2s ease;
        position: relative;
        z-index: 1;
      }
    }
    svg {
      background: #fff;
      position: relative;
      z-index: 1;
      width: 45px;
    }

    &.circle-pink {
      &::after {
        background-color: $light-pink;
      }
      svg {
        color: $light-pink;
      }
    }
    &.circle-green {
      &::after {
        background-color: $green;
      }
      svg {
        color: $green;
      }
    }
    &.circle-yellow {
      &::after {
        background-color: $yellow;
      }
      svg {
        color: $yellow;
      }
    }
    &.circle-blue {
      &::after {
        background-color: $blue;
      }
      svg {
        color: $blue;
      }
    }
    span {
      position: absolute;
      top: calc(100% + 10px);
      left: 50%;
      transform: translate(-50%, 0);
      display: inline-block;
      text-align: center;
      text-align: center;
      width: 100px;
    }
  }
}
.digit-block {
  gap: 1rem;
  li {
    font-weight: bold;
    color: var(--black-light);
    text-align: center;
    border-radius: 3px;
    font-size: 1.875rem;
    padding: 0.688rem;
    flex: 1 0 0%;
    @media screen and (max-width: 767px) {
      width: 100%;
      flex: 1 0 100%;
    }
    &:nth-child(1) {
      background-color: $light-pink;
    }
    &:nth-child(2) {
      background-color: $green;
    }
    &:nth-child(3) {
      background-color: $yellow;
    }
    &:nth-child(4) {
      background-color: $blue;
    }
  }
}
.custom-switch {
  .MuiSwitch-thumb {
    background-color: var(--black-light);
  }
  .Mui-checked {
    .MuiSwitch-thumb {
      background-color: currentColor;
    }
  }
}
.bg-yellow {
  background-color: $yellow;
}
.step-1{
  width: 5px;
  height: 5px;
  background-color: #f06240;
  border-radius: 50px;
}
.step-1-a{
  border-left: 1px solid #f06240;
  height: 80px;
  margin-left: 2px;

}
.step-1-b{
  margin-left: 15px;
  position: relative;
  bottom: 92px;
}
.head-1{
  color: #f06240;
}
.para{
  margin-top: -25px;
}
.step-2{
  width: 5px;
  height: 5px;
  background-color: #469D89;
  border-radius: 50px;
}
.step-2-a{
  border-left: 1px solid #469D89;
  height: 80px;
  margin-left: 2px;

}
.head-2{
  color:  #469D89;
}
.step-3{
  width: 5px;
  height: 5px;
  background-color:  #5d5d5d;
  border-radius: 50px;
}
.step-3-a{
  border-left: 1px solid #5d5d5d;
  height: 80px;
  margin-left: 2px;

}
.head-3{
  color: #5d5d5d;
}
.step-4{
  width: 5px;
  height: 5px;
  background-color: #7EA5D2;
  border-radius: 50px;
}
.step-4-a{
  border-left: 1px solid #7EA5D2;
  height: 80px;
  margin-left: 2px;

}
.head-4{
  color:  #7EA5D2;
}
.square-1{
  position: relative;
  height: 33px;
  width: 125px;
  background-color: #f06240;
  
 // border: 1px solid red;
}
.shape{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #f06240;
  // border: 1px solid black;
  transform: rotate(45deg);
  left:112px;
  top: 3px;
  border-radius: none;
}
.hr-line{
  width: 37px;
  height: 2px;
  background-color: #f06240;
  position: relative;
  left: 140px;
  bottom: 18px;
}
.square-2{
  position: relative;
  height: 33px;
  width: 125px;
  left: 52px;
  background-color: #FAC003;
}
.shape-a{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #FAC003;
  // border: 1px solid black;
  transform: rotate(45deg);
  left:112px;
  top: 3px;
  border-radius: none;
}
.hr-line-a{
  width: 37px;
  height: 2px;
  background-color: #FAC003;
  position: relative;
  left: 140px;
  bottom: 18px;
}
.square-3{
  position: relative;
  height: 33px;
  width: 125px;
  left: 101px;
  background-color: #469D89;
}
.shape-b{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #469D89;
  // border: 1px solid black;
  transform: rotate(45deg);
  left:112px;
  top: 3px;
  border-radius: none;
}
.hr-line-b{
  width: 37px;
  height: 2px;
  background-color: #469D89;
  position: relative;
  left: 140px;
  bottom: 18px;
}
.square-4{
  position: relative;
  height: 33px;
  width: 125px;
  left: 150px;
  background-color: #252525;
}
.shape-c{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #252525;
  // border: 1px solid black;
  transform: rotate(45deg);
  left:112px;
  top: 3px;
  border-radius: none;
}
.hr-line-c{
  width: 37px;
  height: 2px;
  background-color: #252525;
  position: relative;
  left: 140px;
  bottom: 18px;
}
.square-5{
  position: relative;
  height: 33px;
  width: 125px;
  left: 200px;
  background-color: #5d5d5d;
}
.shape-d{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #5d5d5d;
  // border: 1px solid black;
  transform: rotate(45deg);
  left:112px;
  top: 3px;
  border-radius: none;
}
.hr-line-d{
  width: 37px;
  height: 2px;
  background-color: #5d5d5d;;
  position: relative;
  left: 140px;
  bottom: 18px;
}
.square-6{
  position: relative;
  height: 33px;
  width: 125px;
  left: 250px;
  background-color: #CA9FC1;;
}
.shape-f{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #CA9FC1;
  // border: 1px solid black;
  transform: rotate(45deg);
  left:112px;
  top: 3px;
  border-radius: none;
}
.hr-line-f{
  width: 37px;
  height: 2px;
  background-color: #CA9FC1;
  position: relative;
  left: 140px;
  bottom: 18px;
}
.square-7{
  position: relative;
  height: 33px;
  width: 125px;
  left: 300px;
  background-color: #7EA5D2;
}
.shape-g{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #7EA5D2;
  // border: 1px solid black;
  transform: rotate(45deg);
  left:112px;
  top: 3px;
  border-radius: none;
}

.pointer{
  cursor: pointer;
}