  /*CSS Variables*/
  :root {
    --grey: #5d5d5d;
    --grey-light: #e4e4e4;
    --grey-thin: #cdcdcd;
    --grey-border: #e7e7e780;
    --black-light: #252525;
    --white: #fff;
    --red: #f06240;
    --black-500: #252525;
  }
  $green: #469D89;
  $yellow: #FAC003;