  /*CSS Variables*/
  :root {
    --grey: #5d5d5d;
    --grey-light: #e4e4e4;
    --grey-thin: #cdcdcd;
    --grey-border: #e7e7e780;
    --black-light: #252525;
    --white: #fff;
    --red: #f06240;
    --black-500: #252525;
  }
  $green: #469D89;
  $yellow: #FAC003;
  $light-pink: #CA9FC1;
  $blue: #7EA5D2;
  $pink-100:#CA9FC140;
  $green-100:#7FC6B540;
  $yellow-100:#FBBE5040;
  $blue-100: #7EA5D226;
